@import url('main.css');

.banner .title {
    font-size: 1.7em;
}
.banner-nav-link, 
.banner-span {
    font-size: .8em;
}
.banner-nav-link-icon {
    width: 18px;
}

.grid-card-acoplesInd {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    padding: 0;
}
.card-acoplesInd{
    max-width: 300px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto;
}
.card-img {
    width: 100%;
    height: 100%;
    grid-row: 1/2;
}
.card-img--size {
    width: 160px;
    margin: 0 auto;
}
.card-body {
    grid-row: 2/3;
    align-self: center;
}
.card-nombre{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.card-icon{
    width: 22px;
    height: 22px;
}
.card-nombre-item{
    color: var(--negro);
    font-weight: 600;
    font-size: 14px;
}
.card-nombre-item--size{
    font-size: 12px;
}
.card-footer-acoplesInd {
    position: relative;
    grid-row: 3/-1;
    width: 130px;
    align-self: end;
    padding-top: 30px;
}
.card-footer-acoplesInd::before{
    content: '';
    position: absolute;
    top: 0;
    width: 90%;
    height: 5px;
    background-color: var(--color-secundario);
}
.btn-read {
    display: inline-block;
    padding: 12px 25px;
    background-color: var(--color-btn);
    color: var(--blanco);
    width: 100%;
    opacity: 1;
    transition: opacity .3s ease;
}
.btn-read:hover{
    opacity: .8;
}

@media (min-width: 768px){
    .grid-card-acoplesInd{
        padding: inherit;
    }
}