@import url('main.css');

section {
    padding: 50px 0;
}

.banner--servicios {
    background: url('../assets/img/servicios/banner.png');
    background-size: cover;
    background-position: center;
}

.banner--mantenimiento {
    background: url('../assets/img/servicios/banner-mantenimiento.jpg');
    background-size: cover;
    background-position: center;
}
.banner--ventajas{
    background: url('../assets/img/servicios/banner-ventajas.jpg');
    background-size: cover;
    background-position: center;
}
.banner--reparaciones{
    background: url('../assets/img/servicios/banner-reparaciones.jpg');
    background-size: cover;
    background-position: center;
}
.banner--garantia{
    background: url('../assets/img/servicios/banner-garantia.jpg');
    background-size: cover;
    background-position: center;
}
.banner--abastecimiento{
    background: url('../assets/img/servicios/banner-abastecimiento.jpg');
    background-size: cover;
    background-position: center;
}

.banner-title-center {
    justify-content: center;
    padding: 0 !important;
}
.servicios-container{
    padding: 15px !important;
}
.servicio-title {
    color: var(--color-primario);
    font-weight: 400;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.servicios-titulo-main {
    font-weight: 500;
    color: var(--color-primario);
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.3em;
}

.servicios-titulo-main span {
    color: var(--negro);
}
.caja1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caja1 > p{
    text-align: justify;
    font-size: .9em;
    margin-bottom: 20px;
}
.btn-servicios{
    max-width: 300px;
    width: 100%;
    margin: 0 auto 20px auto;
    display: inline-block;
    padding: 12px 20px;
    color: var(--blanco);
    background: var(--color-primario);
    border-radius: 4px;
    text-align: center;
}
.btn-servicios:active{
    box-shadow: 0 0 10px var(--color-btn);
}
.caja2{
    margin: 20px 0;
}
.arrow-circle {
    width: 80px;
    height: 80px;
    background-color: var(--color-primario);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-circle-icon {
    width: 80%;
    height: 80%;
}

/* Mantenimiento */
.mantenimiento {
    padding: 15px;
}

.textos-mg {
    margin-bottom: 30px;
}

.textos-titulo {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5em;
    /* word-spacing: 1.7px; */
    text-align: center;
}

.textos-titulo>span {
    color: var(--color-primario);
}

.textos-p,
.textos-ul {
    margin-top: 20px;
    font-size: .9em;
    line-height: 1.8;
}

.textos-titulo--flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icon {
    width: 50px;
    height: 50px;
}

.textos-ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.textos-ul li {
    margin-bottom: 10px;
}

.figure-mt {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.figure-mt>img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: var(--sombra);
}

/* SLIDER */
.textos-titulo--size {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 1.3em;
}

.slide-container {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.slide-content {
    margin: auto;
}

.swiper-slide>img {
    display: block;
    width: 150px;
    margin: 0 auto;
}

.card::before {
    content: unset;
}

.card-body {
    padding: 20px;
}

.card-body span,
.card-body p {
    display: block;
    color: var(--negro);
    font-weight: 700;
    text-align: center;
}

.card-body span {
    text-transform: uppercase;
    font-size: 1.1em;
    margin: 25px 0;
}

.card-body>p {
    margin: 20px 0;
}

.swiper-navBtn {
    border-radius: 50%;
    background-color: var(--gris);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 25px;
    font-weight: bold;
    color: var(--color-primario);
}

.swiper-button {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    position: unset;
}

.swiper-button-next,
.swiper-button-prev {
    transform: rotate(0);
}

.swiper-button-next {
    order: 1;
}

.swiper-button-prev {
    order: 0;
}

.swiper-navBtn {
    width: 40px;
    height: 40px;
}

/* Ventajas */
.cards-container{
    gap: 30px;
}
.box--bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    box-shadow: var(--sombra);
    background-color: var(--color-hueso);
    border-radius: 10px;
}
.box-icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--color-primario);
    display: grid;
    place-content: center;
}
.box-icon--m{
    margin: 10px 0;
}
.icon-v{
    width: 50px;
    height: 50px;
}
.box-title{
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.8px;
}
.box-image{
    max-width: 290px;
    width: 100%;
}
.box > a:active{
    box-shadow: 0 0 20px var(--color-azul);
}
.img{
    width: 100%;
    height: 100%;
}

/* Reparaciones */
.textos-container--unset{
    display: unset !important;
}

/* Garantía */
.figure-mt--w{
    max-width: unset;
    height: 120px;
}

@media (min-width: 600px) {
    .textos-titulo {
        font-size: 1.8em;
    }

    .textos-p,
    .textos-ul {
        font-size: 1em;
    }

    .textos-titulo--flex {
        justify-content: center;
        column-gap: 20px;
    }

    .textos-titulo--size {
        margin-bottom: 50px;
    }
    .textos-titulo--unset{
        justify-content: center !important;
    }

    .swiper-navBtn {
        width: 50px;
        height: 50px;
    }

    .swiper-navBtn::before,
    .swiper-navBtn::after {
        font-size: 30px;
    }
    .figure-mt--w{
        height: unset;
    }
    .servicios-titulo-main{
        font-size: 1.5em;
    }
    .servicio-title {
        font-size: 1.3em;
    }
    .caja1 > p {
        font-size: 1em;
        margin-bottom: 30px;
        font-weight: 500;
    }
    .caja2{
        margin: 30px 0;
    }
    .swiper-wrapper{
        gap: 20px;
    }
}

@media (min-width: 768px) {
    .textos-titulo {
        text-align: left;
    }
    .textos-titulo--flex {
        justify-content: flex-start;
    }
    .textos-titulo--size{
        text-align: center;
        font-size: 2em;
        letter-spacing: 1.8px;
        word-spacing: 8px;
        font-weight: 700;
    }
    .card-body{
        padding: 50px;
    }
    .textos-mg {
        margin-bottom: 50px;
    }
    .servicios-titulo-main {
        text-align: left;
        font-size: 1.6em;
    }
    .caja1 {
        align-items: flex-start;
    }
    .servicio-title {
        font-size: 1.4em;
    }
    .btn-servicios {
        margin: 0 0 20px;
    }
}
@media (min-width: 992px){
    .textos-container {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
    }
    .textos-mg {
        margin-bottom: 90px;
    }
    .textos-titulo {
        font-size: 1.9em;
    }
    .textos-titulo--size {
        font-size: 2.5em;
    }
    .figure-mt>img {
        border-radius: 20px;
    }
    .textos-ul--p{
        padding-left: 100px;
    }
    .contenido{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .caja1 {
        align-items: center;
    }
    .caja2 {
        max-width: 550px;
        width: 100%;
    }
    .box--bg{
        max-width: 260px;
    }
    .caja1 > p{
        text-align: center;
        font-weight: 600;
    }
}
@media (min-width: 1200px){
    .textos-titulo {
        font-size: 2.1em;
    }
    .textos-p, 
    .textos-ul {
        font-size: 1.1em;
    }
    .icon {
        width: 60px;
        height: 60px;
    }
    .textos-titulo--flex {
        column-gap: 30px;
    }
    .box-icon {
        width: 100px;
        height: 100px;
    }
    .icon-v {
        width: 60px;
        height: 60px;
    }
    .box-title{
        font-size: 1.4em;
    }
    .contenido {
        align-items: center;
        gap: 40px;
    }
    .caja1{
        max-width: 550px;
        width: 100%;
    }
    .caja1 > p {
        font-weight: 700;
    }
    .caja2 {
        max-width: 900px;
        width: 100%;
    }
    .box--bg{
        max-width: 430px;
        width: 100%;
    }
}